h1{
    padding-left: 15px;
}
#banner{
    width: 100%;
}

.principal{
    padding: 15px;
}

h2{
    text-align: center;
    /* ALTURA RESPECTO A LO QUE HAY DEBAJO */
    height: 50px;
    /* CREA UN BORDE EN EL ESPACIO ESTABLECIDO EN H1 */
    border: 10px solid #22a06f;
    /* SEPARA INTERNAMENTE EL TEXTO DEL BORDE */
    padding: 15px;
    /* SEPARA EXTERNAMENTE EL BORDE DE LOS DEMAS CONTENIDOS */
    margin: 15px;
}

p{
    text-align: center;
}

#mision{
    font-size: 20px;
}

em strong{
    color: blueviolet;
}

.diferenciales{
    padding: 15px;
}

h3{
    text-align: center;
}

.list2{
    display: inline-block;
    vertical-align: top;
    width: 40%;
    margin: 15px;
}
.items{
    font-style: italic;
}

#imgdiferenciales{
    width: 30%;
    height: 30%;
}

footer{
    text-align: center;
    background: url(../IMAGES/bg.jpg);
    padding: 40px;
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}